body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  */
}

@font-face {
  font-family: 'FiraSans-Light';
  src: url('./Assests/fonts/FirsSans/FiraSans-Light.ttf');
}
@font-face {
  font-family: 'FiraSans-Regular';
  src: url('./Assests/fonts/FirsSans/FiraSans-Regular.ttf');
}
@font-face {
  font-family: 'FiraSans-SemiBold';
  src: url('./Assests/fonts/FirsSans/FiraSans-SemiBold.ttf');
}
@font-face {
  font-family: 'FiraSans-Bold';
  src: url('./Assests/fonts/FirsSans/FiraSans-Bold.ttf');
}
.FiraSansLight {
  font-family: FiraSans-Light !important;
}
.FiraSansRegular {
  font-family: FiraSans-Regular !important;
}
.FiraSansSemiBold {
  font-family: FiraSans-SemiBold !important;
}
.FiraSansBold {
  font-family: FiraSans-Bold !important;
}


@font-face {
  font-family: 'Gordita-Light';
  src: url('./Assests/fonts/Gordita/Gordita-Light.otf');
}
@font-face {
  font-family: 'Gordita-Regular';
  src: url('./Assests/fonts/Gordita/Gordita-Regular.otf');
}
@font-face {
  font-family: 'Gordita-Bold';
  src: url('./Assests/fonts/Gordita/Gordita-Bold.otf');
}
.GorditaLight {
  font-family: Gordita-Light !important;
}
.GorditaRegular {
  font-family: Gordita-Regular !important;
}
.GorditaBold {
  font-family: Gordita-Bold !important;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('./Assests/fonts/Avenir/AvenirNextLTPro-It.otf');
}
@font-face {
  font-family: 'Avenir-Regular';
  src: url('./Assests/fonts/Avenir/AvenirNextLTPro-Regular.otf');
}
@font-face {
  font-family: 'Avenir-Bold';
  src: url('./Assests/fonts/Avenir/AvenirNextLTPro-Bold.otf');
}
.AvenirLight {
  font-family: Avenir-Light !important;
}
.AvenirRegular {
  font-family: Avenir-Regular !important;
}
.AvenirBold {
  font-family: Avenir-Bold !important;
}