.bgcolor {
  background-color: #22c77c !important;
}
.displayInline {
  display: inline-block;
}
.displayBlock {
  display: block;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.noBoxShadow:focus {
  box-shadow: none;
}
.color {
  color: #22c77c;
}
.mt-100px {
  margin-top: 100px !important;
}
.pointer {
  cursor: pointer !important;
}
.text-right {
  text-align: right !important;
}
.w-45 {
  width: 45% !important;
}
.w-50 {
  width: 50% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.textDecorationNone {
  text-decoration: none;
  color: black;
}
.textDecorationNone:hover {
  color: #000000;
}

.borderNone {
  border: none;
}
.underlineAnimation {
  position: relative;
}

.underlineAnimation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #3cd884 !important;
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.underlineAnimation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}
.w-20px {
  width: 20px !important;
}
.w-21px {
  width: 21px !important;
}
.w-22px {
  width: 22px !important;
}
.w-23px {
  width: 23px !important;
}
.w-24px {
  width: 24px !important;
}
.w-25px {
  width: 25px !important;
}
.w-26px {
  width: 26px !important;
}
.w-27px {
  width: 27px !important;
}
.w-28px {
  width: 28px !important;
}
.w-29px {
  width: 29px !important;
}
.w-30px {
  width: 30px !important;
}

.w-35px {
  width: 35px !important;
}
.f0 {
  font-size: 0px;
}
.f1 {
  font-size: 1px;
}
.f2 {
  font-size: 2px;
}
.f3 {
  font-size: 3px;
}
.f4 {
  font-size: 4px;
}
.f5 {
  font-size: 5px;
}
.f6 {
  font-size: 6px;
}
.f7 {
  font-size: 7px;
}
.f8 {
  font-size: 8px;
}
.f9 {
  font-size: 9px;
}
.f10 {
  font-size: 10px;
}
.f11 {
  font-size: 11px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}
.f18 {
  font-size: 18px;
}
.f19 {
  font-size: 19px;
}
.f20 {
  font-size: 20px;
}
.f21 {
  font-size: 21px;
}
.f22 {
  font-size: 22px;
}
.f23 {
  font-size: 23px;
}
.f24 {
  font-size: 24px;
}
.f25 {
  font-size: 25px;
}
.f26 {
  font-size: 26px;
}
.f27 {
  font-size: 27px;
}
.f28 {
  font-size: 28px;
}
.f29 {
  font-size: 29px;
}
.f30 {
  font-size: 30px;
}
.outlineNone:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #29cb7e;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #29cb7e;
}
/* <---- Toggle Button -----> */
.navbarToggler:focus,
.searchBtn:focus,
.searchInput:focus {
  box-shadow: none !important;
}
.navbarToggler {
  border: none;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  width: 30px;
  height: 5px;
  position: absolute;
  left: 0px;
  background: #6c757d;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  right: 0px;
  width: 30px;
  height: 5px;
  background: #6c757d;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* <----> */
/* <------Navbar------------> */
.nav-items {
  font-size: 18px;
  color: black !important;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

.nav-items::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #3cd884 !important;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.nav-items:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.search {
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid lightgray !important;
}

.search-input {
  border: 0;
  outline: 0;
  color: gray !important;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  font-size: 19px;
  font-weight: 300;
  transition: width 0.4s linear;
}
.search-input::placeholder {
  color: lightgray !important;
  font-size: 20px;
  font-family: FiraSans-regular;
}

.search-icon {
  height: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
}
.search-icon:hover {
  color: white;
}

.search-icon::before {
  content: '|';
  font-family: FiraSans-regular;
  color: lightgray;
  padding-right: 5px;
  font-size: 30px;
}
.searchBarDiv {
  width: 65% !important;
}
.searchBar {
  width: 80%;
  position: relative;
  top: 0px;
  bottom: 0px;
  margin: auto;
  left: 150px;
}
@media screen and (max-width: 1290px) {
  .searchBarDiv {
    width: 61% !important;
  }
  .searchBar {
    width: 70% !important;
    left: 140px;
  }
}
@media screen and (max-width: 1115px) {
  .searchBarDiv {
    width: 55% !important;
  }
  .searchBar {
    width: 70%;
    left: 110px;
  }
}
@media screen and (max-width: 985px) {
  .searchBarDiv {
    width: 50% !important;
  }
  .searchBar {
    width: 70% !important;
    left: 90px;
  }
}
@media screen and (max-width: 880px) {
  .searchBarDiv {
    width: 45% !important;
  }
  .searchBar {
    width: 80% !important;
    left: 55px;
  }
}
@media screen and (max-width: 800px) {
  .searchBarDiv {
    width: 40% !important;
  }
  .searchBar {
    width: 80% !important;
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  .searchBar {
    left: 0px;
    margin: auto;
  }
}

/* <----------------> */
/* <-----offcanvas-----> */
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-toggle:focus {
  box-shadow: none !important;
}

.dropdownCaretUp {
  animation: dropdownCaretUp 0.3s ease-in-out;
}
@keyframes dropdownCaretUp {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdownCaretDown {
  animation: dropdownCaretDown 0.3s ease-in-out;
}
@keyframes dropdownCaretDown {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.categoryDropdownMenu {
  border: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.categoryDropdownMenu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.categoryDropdownMenu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* <------------> */
/* <------Secondary Navbar---------> */
.dropdownBtn {
  padding: 7px 15px;
  border-radius: 10px;
  color: whitesmoke;
}
.dropdownBtn:hover {
  color: whitesmoke;
}
.hr {
  border: 0;
  height: 30px;
  border-style: solid;
  border-color: #333;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
.hr:before {
  display: block;
  content: '';
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #333;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.whatsappNumber {
  position: relative;
  bottom: 3px;
}
/* <------------> */
/* <-----Poster Carousel-------> */
.carouselImage {
  width: 100%;
  height: 35rem !important;
}
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 7px;
}
.carouselMainDiv {
  position: relative;
  top: 0%;
  bottom: 16px;
}

@media screen and (max-width: 800px) {
  .carouselImage {
    height: 25rem !important;
  }
}
@media screen and (max-width: 550px) {
  .carouselImage {
    height: 20rem !important;
  }
}
/* <------------> */
/* <-----Category carousel-------> */
.slick-slide {
  margin: 0px 0px !important;
}
.sliderItems {
  width: 5.5rem !important;
  margin: auto;
  height: 6.5rem !important;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}
.categoryImage {
  width: 40px;
  margin: auto;
}
.categoryCarousel .slick-prev {
  position: relative;
  top: -25px;
  margin-right: 20px;
  float: right;
  width: 50px;
  height: 50px;
}
.categoryCarousel .slick-next {
  position: absolute;
  top: -25px;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
/* <------------> */
/* <------product Card------> */

.productCard {
  height: 480px;
  width: 85%;
  cursor: pointer;
  margin: auto;
}
.productCard:hover {
  background: #fff;
  box-shadow:
    0 6px 10px rgba(0, 0, 0, 0.08),
    0 0 6px rgba(0, 0, 0, 0.05);
  transition:
    0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.CardWishlistIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  color: #d4eee2 !important;
  background-color: transparent;
  z-index: 100000;
}
.productCardImg {
  height: 18rem;
}
.productCardName {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: inherit;
}
.addCartBtn {
  background-color: #d4eee2 !important;
  float: right;
  /* margin-top: 10px; */
  border-radius: 10px;
  text-align: center;
}
.addCartBtn:focus {
  box-shadow: none !important;
}
.addCartBtn:hover {
  background-color: #d4eee2;
}
.badgePriceDiv {
  position: absolute;
  bottom: 10px;
}
@media screen and (max-width: 576px) {
  .productCard {
    width: 60% !important;
  }
  .addCartBtn {
    margin-top: 20px;
  }
}
@media screen and (max-width: 400px) {
  .productCard {
    width: 80% !important;
  }
}
@media screen and (max-width: 330px) {
  .productCard {
    width: 100% !important;
  }
}

/* <------------> */
/* <-----footer-------> */
.secondaryFooterImg {
  width: 80px;
}
.secondaryFooter {
  background-color: #d4eee2;
}
.secondaryFooterText {
  margin: 'auto 0px';
}

.smallFooter {
  padding: 50px 0px;
}
.accordion-button::after {
  background-image: url('./Assests/imgs/AccordianPlus.png');
  transform: scale(0.7) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url('./Assests/imgs/accordianMinus.png');
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  background-color: #212529;
  color: white;
}
.accordion-button:not(.collapsed) {
  color: white;
  background-color: #212529;
}
/* <------------> */
/* <------Edit and Trash animation------> */

.editBtn,
.trashBtn {
  position: relative;
  left: 0px;
  right: 0px;
}
.editImg {
  width: 90px;
}

.editBtn::after {
  content: 'Edit';
  position: absolute;
  top: 0% !important;
  left: 50%;
  transform: translateX(-50%);
  background-color: #22c77c;
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.1s linear;
  transition-delay: 0.1s;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
}

.editBtn:hover::after,
.trashBtn:hover::after {
  visibility: visible;
  opacity: 1;
  top: -100%;
}

.trashBtn::after {
  content: 'Delete';
  position: absolute;
  top: -130% !important;
  left: 50%;
  transform: translateX(-50%);
  background-color: #22c77c;
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.1s linear;
  transition-delay: 0.1s;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
}
/* <------------> */
/* <------ShoppingCart------> */
.cartProductImg {
  width: 30%;
}

@media screen and (max-width: 1400px) {
  .productHeading {
    width: 46% !important;
  }
}
@media screen and (max-width: 1200px) {
  .productinfoDiv {
    width: 100% !important;
  }
  .productHeading {
    width: 36% !important;
  }
}
@media screen and (max-width: 991px) {
  .productinfoDiv {
    width: 40% !important;
  }
  .productHeading {
    width: 40% !important;
  }
}
@media screen and (max-width: 767px) {
  .productinfoDiv {
    width: 100% !important;
  }
  .cartProductImg {
    width: 20% !important;
  }
}
/* <------------> */

/* <------Price card------> */
.backToShopping {
  width: 20px;
}
.voucherCard {
  width: 20rem;
  border-radius: 20px;
  margin: auto;
}
.voucherBtn {
  width: 25px;
}
.priceCardMainDiv {
  position: sticky;
  top: 20px;
}
.priceCard {
  width: 20rem;
  border-radius: 20px;
}
.checkoutImg {
  width: 20px;
}
@media screen and (max-width: 991px) {
  .priceCardMainDiv {
    position: relative !important;
    top: 0px;
    padding: 20px 10px;
  }
  .priceCard {
    width: 90%;
    margin-top: 0px !important;
  }
  .voucherCard {
    width: 90% !important;
  }
}

/* <------------> */
/* <------sign up & login------> */
.signUpMainDiv {
  background-image: url('./Assests//imgs/Meteor.png');
  background-size: cover;
  height: 100vh;
}
.signUpCard {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 20px;
  margin: auto auto;
  width: fit-content;
  height: fit-content;
  color: #f5f5f5;
}
.logInCard {
  width: 35%;
  background-color: transparent;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  border-radius: 20px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  height: fit-content;
}
.signUpLogo {
  width: 50px;
}
.signUpBtn {
  background-color: #22c77c;
  border: none;
}
.googleBtn {
  border: 2px solid #22c77c;
  background-color: transparent;
}
.googleBtn:hover {
  color: #22c77c !important;
  background-color: transparent;
  border: 2px solid #22c77c;
}
.signUpInput {
  background-color: transparent;
  border: 2px solid #22c77c;
  color: #fff;
  padding: 6px 10px 6px 10px;
}
.signUpInput:focus {
  color: #fff;
  background-color: transparent;
  border: 2px solid #22c77c;
  outline: none;
  box-shadow: none;
}
.loginPassword {
  background-color: transparent;
  border: 2px solid #22c77c;
  color: #fff;
  padding: 6px 30px 6px 10px;
}
.loginPassword:focus {
  color: #fff;
  background-color: transparent;
  border: 2px solid #22c77c;
  outline: none;
  box-shadow: none;
}

.forgetButton {
  background-color: transparent;
  border: none;
}
.forgetButton:hover {
  background-color: transparent;
  border: none;
}
.eyeIcon {
  cursor: pointer;
  margin-left: -30px;
}
@media screen and (max-width: 410px) {
  .nameDiv {
    display: block !important;
  }
  .signUpInput {
    margin: 0px;
  }
  .loginPassword {
    margin: 0px;
  }
  .signUpLogo {
    width: 40px;
  }
  .signUpCard {
    border-radius: 0px;
    height: 100%;
    width: 100%;
  }
  .googleBtn {
    margin: 0px !important;
  }
  .signUpBtnLink {
    margin: 5px 15px !important;
  }
  .signUpForm {
    margin: 10px !important;
  }
  .inputPassword {
    padding: 80px !important;
  }
  .inputPassword::placeholder {
    padding-left: 20px;
  }
}
@media screen and (max-width: 850px) {
  .logInCard {
    width: 50%;
  }
}
@media screen and (max-width: 553px) {
  .logInCard {
    width: 75%;
  }
  .logInCard {
    width: 100%;
    border: none;
    height: 85%;
  }
  .signUpCard {
    border: none;
  }
}
/* <------------> */
/* <------product ------> */

.sizes {
  border: 1px solid black;
  border-radius: 20px;
}
.slectSizes {
  background-color: #22c77c;
  color: #fff;
}
.nav-tabs {
  padding-bottom: 0px;
}
.nav-link {
  border-top: 1px solid #e9ecef !important;
  border-left: 1px solid #e9ecef !important;
  border-right: 1px solid #e9ecef !important;
  margin-right: 20px;
  color: #000000;
}
.nav-link:hover {
  color: #22c77c !important;
}
.nav-link.active {
  color: #22c77c !important;
}
.productTab {
  border-bottom: 1px solid #e9ecef;
  border-left: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
  height: 500px;
  overflow-y: auto;
}
@media screen and (max-width: 400px) {
  .nav-link {
    margin-right: 0px;
  }
}
.productCartBtn {
  background-color: #d4eee2 !important;
}
.productCartBtn:hover {
  color: #22c77c !important;
}
/* <------------> */
/* <------productCarousel------> */
.productImgDiv {
  width: 60%;
  margin: auto;
}
.productLargeImg {
  width: 100%;
  height: 500px;
}
.productSmallImgs {
  width: 21%;
  height: 85px;
  margin: 8px 7px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.productSmallImgs:hover {
  -webkit-filter: brightness(50%) !important;
  filter: brightness(50%) !important;
  border-bottom: 3px solid #22c77c;
}
.selectedProductSmallImgs {
  -webkit-filter: brightness(50%) !important;
  filter: brightness(50%) !important;
  border-bottom: 3px solid #22c77c;
  /* border-bottom-color: #b4b4b4 !important; */
}
@media screen and (max-width: 991px) {
  .productImgDiv {
    width: 80%;
    margin: auto !important;
  }
}
@media screen and (max-width: 400px) {
  .productImgDiv {
    width: 100%;
  }
}
/* <------------> */
/* <------aboutus------> */

.aboutustext {
  text-align: center;
  font-size: 50px;
  background: linear-gradient(
    225deg,
    orange,
    yellow,
    #22c77c,
    rgba(96, 96, 245, 0.959)
  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 8s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

/* <------------> */
/* <-----contactus-------> */
.contactusText {
  margin: 0px 0px;
  text-align: center;
  font-size: 50px;
  background: linear-gradient(
    225deg,
    orange,
    yellow,
    #22c77c,
    rgba(96, 96, 245, 0.959) /* blue, */ /* indigo, */
  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 8s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.contactFormDiv {
  width: 60%;
}

.sendMesage {
  float: right;
}
.sendMesage:focus {
  box-shadow: none;
}

.contactusInput:focus {
  border-color: lightgray;
}
.contactusInput {
  resize: none;
  -moz-appearance: textfield !important;
}
.contactusInput::-webkit-outer-spin-button,
.contactusInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.passwordGroup {
  width: 50%;
  padding-right: 10px;
}
.emailGroup {
  width: 50%;
  padding-left: 10px;
}

@media screen and (max-width: 680px) {
  .contactFormDiv {
    width: 80% !important;
  }
}
@media screen and (max-width: 490px) {
  .contactFormDiv {
    width: 100% !important;
  }
}
@media screen and (max-width: 575px) {
  .passwordGroup {
    width: 100%;
    padding-right: 0px;
  }
  .emailGroup {
    width: 100%;
    padding-left: 0px;
  }
}
/* <------------> */
